# =========================
# DATASETS
# =========================

data/raw/
data/processed/

*.csv
*.tsv

# Keep sample datasets if needed
#!data/sample/*.csv

# =========================
# TRAINED MODELS
# =========================

*.joblib
*.h5



# =========================
# PYTHON CACHE
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# ENVIRONMENT FILES
# =========================

.env
.venv/
venv/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# LOG FILES
# =========================

*.log